

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2>
</div>

<form action="/home/findroute" method="post">
    <div class="form-group row">
        <div class="col-sm-1">
            <p>From</p>
        </div>
        <div class="col-sm-3 ">
            <select name="from" class="custom-select form-control" required>
                <option value="" selected>Choose departure...</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-1">
            <p>To</p>
        </div>
        <div class="col-sm-3 ">
            <select name="to" class="custom-select form-control" required>
                <option value="" selected>Choose destination...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <button type="submit" value="register" class="btn btn-primary my-1">Bestill</button>
    </div>
</form>