

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "/home/gettrips",
            type: "GET",
            dataType: "json",
            success: function (trips) {
                console.log(trips);
                showDropDown(trips)
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        function showDropDown(trips) {
            var dropdown = "";
            for (var i in trips) {
                dropdown += "<option value='" + trips[i].TripId + "'>" + trips[i].Route + " - " + trips[i].Price + " kr</option>";
            }
            $("#drop").append(dropdown);
        }
    })
</script>

<div class="form-group row">
    <div class="col-sm-1">
        <p>Trip</p>
    </div>
    <div class="col-sm-3 ">
        <select id="drop" name="from" class="custom-select form-control" required>
            <option value="" selected>Choose a route...</option>
        </select>
    </div>
</div>
<div class="row">
    <button type="submit" value="register" class="btn btn-primary my-1">Bestill</button>
</div>
