

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Vy</h2
</div>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "@Url.Action("gettrips", "home")",
            type: "GET",
            dataType: "json",
            success: function (trips) {
                console.log(trips);
                showDropDown(trips)
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        function showDropDown(trips) {
            var dropdown = "";
            for (var i in trips) {
                dropdown += "<option value='" + trips[i].TripId + "'>" + trips[i].Route + " - " + trips[i].Price + " kr</option>";
            }
            $("#tripId").append(dropdown);
        }

        $("#register").click(function () {
            var jsonIn = {
                Departure: $("#dateandtime").val(),
                Roundtrip: $("#roundtrip").is(":checked"),
                Trip: {
                    TripId: $("#tripId").val(),
                },
                Customer: {
                    Givenname: $("#givenname").val(),
                    Surname: $("#surname").val(),
                    Address: $("#address").val(),
                    Zipcode: {
                        Postalcode: $("#zipcode").val(),
                    }
                },
                
            }
            console.log(jsonIn);

            $.ajax({
                url: "@Url.Action("registerticket", "home")",
                type: "POST",
                data: JSON.stringify(jsonIn),
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    if (response.result == 'True') {
                        window.location = response.url;
                    }
                }
            });
        });

        //Form spesific javascript
        $('#dateandtime').datetimepicker({
            datepicker: { showOtherMonths: true, calendarWeeks: true }
        });
    })
</script>
<div id="form" class="form-group container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <p>Departure</p>
        </div>
        <div class="col-sm-5">
            <input id="dateandtime"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <p>Round Trip</p>
        </div>
        <div class="col-sm-3">
            <input class="form-check-input" type="checkbox" id="roundtrip">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <p>Trip</p>
        </div>
        <div class="col-sm-3 ">
            <select id="tripId" name="from" class="custom-select form-control">
                <option value="" selected>Choose a route...</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <p>Given name</p>
        </div>
        <div class="col-sm-3">
            <input type="text" id="givenname" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <p>Surname</p>
        </div>
        <div class="col-sm-3">
            <input type="text" id="surname" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <p>Address</p>
        </div>
        <div class="col-sm-3">
            <input type="text" id="address" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <p>Zipcode</p>
        </div>
        <div class="col-sm-3">
            <input type="text" pattern="[0-9]{4}" id="zipcode" />
        </div>
    </div>

    <div class="row">
        <button id="register" type="submit" class="btn btn-primary my-1">Submit</button>
    </div>
</div>