@model List<DAL.DTO.StationDTO>

@{
    ViewBag.Title = "Stations";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h2>Change Stations</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table id="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Station
                        </th>
                        <th class="th-sm">
                            Edit
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td class="text-center"><button type="button" class="btn btn-warning" data-toggle="modal" id="@s.Id" data-station="@s.Name" data-target="#edit">Edit</button></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Change name?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/EditStation" method="POST">
                    <div class="modal-body">
                        <input id="nameInput" placeholder="New name" name="Name" class="form-control" />
                        <input hidden value="" id="changeStationId" name="Id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-secondary">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button[0].id
            var station = button[0].dataset["station"]
            
            var modal = $(this)
            modal.find("#nameInput").val(station)
            modal.find("#changeStationId").val(id);
        });

        $('#table').DataTable({
            scrollY: 475
        });
        $('.dataTables_length').addClass('bs-select');
        $("#table_filter").parent().addClass("row")
        $("#table_filter").find("input").addClass("form-control");
        $("#table_filter").addClass("col-12 col-md-7 pt-2")
        $("#table_length").find("select").addClass("form-control");
        $("#table_length").addClass("col-12 col-md-5 pt-2")

    })


</script>
